*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keep your real Firebase config out of version control if this repo is ever made public
/app/google-services.json
